<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style2.css"
	th:href="@{/css/style.css}" />
<title>Editar Seleccion</title>
<link rel="icon" type="image/x-icon"
	href="static/images/icon-spring-boot.svg"
	th:href="@{/images/icon-spring-boot.svg}">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="static/css/sidebar.css"
	th:href="@{/css/sidebar.css}">
</head>
<body>
	<div class="sidebar">
		<div class="top">
			<div class="logo">
				<i class="bx bxs-user-detail"></i> <span>Admin</span>
			</div>
			<i class="bx bx-menu" id="btn"></i>
		</div>
		<div class="user">
			<img src="static/images/photo.jpg" alt="me" class="user-img"
				th:src="@{/images/photo.jpg}">
			<div>
				<p class="bold">Ing. Carlos Rene</p>
			</div>
		</div>
		<ul>
			<li><a th:href="@{/seleccion_view/list}"> <i
					class="bx bxs-grid-alt"></i> <span class="nav-item">Inicio</span>
			</a> <span class="tooltip">Inicio</span></li>

			<li><a href="#"> <i class="bx bx-list-ul"></i> <span
					class="nav-item">Continentes</span>
			</a> <span class="tooltip">Continentes</span></li>
			<li><a th:href="@{/seleccion_view/new}"> <i
					class="bx bx-list-plus"></i> <span class="nav-item">Crear</span>
			</a> <span class="tooltip">Crear</span></li>

			<li><a href="#"> <i class="bx bx-log-out"></i> <span
					class="nav-item">Salir</span>
			</a> <span class="tooltip">Salir</span></li>
		</ul>
	</div>


	<div class="main-content">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark"
			style="display: flex; justify-content: center; align-items: center;">
			<a class="navbar-brand">CRUD</a>
		</nav>
		<br>
		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h1 class="text-center" th:if="${seleccion.nombre != null}">Editar
						Seleccion</h1>

					<div class="card-body">
						<form th:action="@{/seleccion_view/list}" th:object="${seleccion}"
							method="post">
							<input type="hidden" name="id" th:field="*{id}" />
							<div class="form-group">
								<label>Nombre:</label> <input type="text" th:field="*{nombre}"
									class="form-control" placeholder="Ingrese el nombre">
							</div>
							<div class="form-group">
								<label>Grupo:</label> <input type="text" th:field="*{grupo}"
									class="form-control" placeholder="Ingrese el grupo">
							</div>
							<div class="form-group">
								<label>Continente:</label> <select name="continente" class="form-control"
									th:field="*{continente.id}" required>
									<option value="">Seleccione un continente</option>
									<option th:each="c : ${continente}" th:value="${c.id}"
										th:text="${c.nombre}"></option>
								</select>
							</div>
							<button type="submit" class="btn btn-info"
								th:text="${'Actualizar'}"></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script>
	let btn = document.querySelector("#btn");
	let sidebar = document.querySelector(".sidebar");

	btn.onclick = function() {
		sidebar.classList.toggle("active");
	};
</script>
</html>